{% extends "base.html" %}


{% block content %}

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet prefetch" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet prefetch" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert" role="alert" id="success-alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="justify-content-center text-center">
            <form action="/classification_image" method="POST" id="CheckBox">
                <input name="train_id" value={{ train_id }}  type="number" style="display: none">
                <div class="row justify-content-center text-center" style="">
                    {% for image in images_test %}
                        <div class="col-xs-4 col-sm-3 col-md-2  m-3 nopad text-center">
                            <label class="image-checkbox">
                                <img class="img-responsive" src={{ image }}>
                                <input name="image[]" value={{ image }} type="checkbox">
                                <i class="fa fa-check hidden"></i>
                            </label>
                        </div>
                    {% endfor %}
                    <div class="progress mt-5" style="height: 28px; width: 500px">
                        <div id="dynamic" class="progress-bar bg-warning progress-bar-striped progress-bar-animated" role="progressbar" style="width: 1%"
                             aria-valuenow="1"
                             aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

                <button type="submit" name="submit_button" id="subId" value="sub" class="btn btn-warning btn-lg m-5"
                        style="width: 414px;height: 104.74px;">
                    Классифицировать
                </button>
            </form>
        </div>
    </div>



    {#<div class="container">#}
    {#    <div class="row justify-content-center text-center">#}
    {#        <form action="/classification_image" method="POST" enctype="multipart/form-data">#}
    {#            <div class="form-group p-5"#}
    {#                 style="border: 6px dashed #FFCF24; width: 1000px; max-height: 368px; box-sizing: border-box;">#}
    {#                <div class="justify-content-center text-center">#}
    {#                    <img src="/static/css/icon%20download.svg" id="upfile" style="cursor:pointer" width="8%"#}
    {#                         max-height="8%"/>#}
    {#                    <button class="font-load" name="submit_button" id="test_images" value="test_images">Загрузить#}
    {#                        изображение#}
    {#                    </button>#}
    {#                    <!--<img src="/static/css/icon%20download.svg" id="upfile" style="cursor:pointer" width="10%" max-height="10%"/>-->#}
    {#                    <input type="file" name="files[]" multiple id="files_image" style="display: none">#}
    {#                </div>#}
    {#                <div class="progress mt-5" style="height: 28px">#}
    {#                    <div id="dynamic" class="progress-bar bg-warning" role="progressbar" style="width: 1%"#}
    {#                         aria-valuenow="0"#}
    {#                         aria-valuemin="0" aria-valuemax="100"></div>#}
    {#                </div>#}
    {#            </div>#}
    {#            <div>#}
    {#                <button type="submit" name="submit_button" value="sub" class="btn btn-warning btn-lg m-5" style="width: 414px;height: 104.74px;">#}
    {#                    Классифицировать#}
    {#                </button>#}
    {#            </div>#}
    {#        </form>#}
    {#    </div>#}
    {#</div>#}


    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="application/javascript">
        var id = {{ train_id | safe }}
        $("#upfile").click(function () {
            $("#files_image").trigger('click');
        });
        $("button").click(function () {

            $("#CheckBox").submit(function () {
                $("#subId").attr("disabled", true);
                return true;
            });
            var current_progress = 0;
            if (this.value == 'sub') {
                var filename = $('[name="image[]"]:checked').length;
                {#var filename = document.getElementById('files_image').files.length#}
            }
            //TODO: поправить передать с бека количество изображений из папки.
            if (this.value == 'test_images') {
                var filename = 10
            }
            var interval = setInterval(function () {
                current_progress += 70 / (filename * 2);
                $("#dynamic").css("width", current_progress + '%')
                if (current_progress >= 100)
                    clearInterval(interval);
            }, 1000);
            // or alert($(this).attr('id'));
        });

    </script>
    <style>

    </style>
    {#<style>#}
    {#    .font-load {#}
    {#        background: none;#}
    {#        border: none;#}
    {#        margin: 0;#}
    {#        padding: 0;#}
    {#        cursor: pointer;#}
    {#        font-family: PF Bague Sans Pro;#}
    {#        font-style: normal;#}
    {#        color: rgba(255, 255, 255, 0.4);#}
    {#        font-size: 25px;#}
    {#        line-height: 55px;#}
    {#    }#}
    {#</style>#}
{% endblock %}
