{% extends "base.html" %}


{% block content %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet prefetch" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet prefetch" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert" role="alert" id="success-alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="justify-content-center text-center">
            <form action="/clog_image" method="POST" id="CheckBox">
                     <div class="row justify-content-center text-center">
                    <div class="col-3">
                        <input type="submit" name="submit_button" value="Смешенность металлалома" id="subMix"
                               style="height: 50.74px;"
                               class="btn btn-md"/>
                    </div>
                    <div class="col-3">
                        <input type="submit" name="submit_button" value="Распознавание стружки и грязи" id="subClog"
                               style="height: 50.74px;"
                               class="btn btn-md"/>
                    </div>
                    <div class="col-3">
                        <input type="submit" name="submit_button" value="Распознавание снега" id="subSnow"
                               style="height: 50.74px;"
                               class="btn btn-md"/>
                    </div>
                </div>
                <input name="options" value={{ option }}  type="number" style="display: none">
                <div class="row justify-content-center text-center mt-5" style="background-color: rgba(61,61,61,0.15);">
                    {% for image in test_image_checkbox %}
                        <div class="col-xs-4 col-sm-3 col-md-2  m-3 nopad text-center">
                            <label class="image-checkbox">
                                <img class="img-responsive" src={{ image }}>
                                <input name="image[]" value={{ image }} type="checkbox">
                                <i class="fa fa-check hidden"></i>
                            </label>
                        </div>
                    {% endfor %}
                    <div class="progress mt-5" style="height: 28px; width: 500px">
                        <div id="dynamic" class="progress-bar bg-warning progress-bar-striped progress-bar-animated" role="progressbar" style="width: 1%"
                             aria-valuenow="1"
                             aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <input type="submit" name="submit_button" value="Распознавание" id="subIdDis"
                       class="btn btn-warning btn-lg m-5"
                       style="width: 414px;height: 104.74px; display: none" />
            <input type="submit" name="submit_button" value="Распознавание" id="subId"
                       class="btn btn-warning btn-lg m-5"
                       style="width: 414px;height: 104.74px;"/>
            </form>
        </div>
    </div>

    {#        <div class="row justify-content-center text-center">#}
    {#        <form action="/segmentation_image" method="POST" enctype="multipart/form-data">#}
    {#          <div class="form-group p-5"#}
    {#                 style="border: 6px dashed #FFCF24; width: 1000px; max-height: 368px; box-sizing: border-box;">#}
    {#                <div class="justify-content-center text-center">#}
    {#                    <img src="/static/css/icon%20download.svg" id="upfile" style="cursor:pointer" width="8%" max-height="8%"/>#}
    {#                    <button class="font-load" name="submit_button" id="test_images" value="test_images">Загрузить изображение</button>#}
    {#                    <!--<img src="/static/css/icon%20download.svg" id="upfile" style="cursor:pointer" width="10%" max-height="10%"/>-->#}
    {#                    <input type="file" name="files[]" multiple id="files_image" style="display: none">#}
    {#                    <!--<label class="custom-file-label" for="inputGroupFile02" style="text-align: left;">Загрузите изображения</label>-->#}
    {#                </div>#}
    {##}
    {#                <div class="progress mt-5" style="height: 28px">#}
    {#                                <div  id="dynamic" class="progress-bar bg-warning" role="progressbar" style="width: 1%" aria-valuenow="0"#}
    {#                                     aria-valuemin="0" aria-valuemax="100"></div>#}
    {#                </div>#}
    {#            </div>#}
    {#                <button type="submit" name="submit_button" value="sub" class="btn btn-warning btn-lg m-5" style="width: 414px;height: 104.74px;">#}
    {#                    Сегментировать#}
    {#                </button>#}
    {#            </div>#}
    {#        </form>#}
    {#        </div>#}
    {#    </div>#}

    <div class="container-fluid">
        {% for image in images %}
            <div class="row justify-content-center text-md-center">
                <div class="col-sm-3">
                    <img src={{ image[0] }} alt="" class="img mb-5">
                </div>
                <div class="col-sm-1 d-flex justify-content-center text-center">
                    <img src="static/css/arrow.svg">
                </div>
                <div class="col-sm-3">
                    <img src={{ image[1] }} alt="" class="img mb-5">
                </div>
                <div class="col-sm-1 d-flex justify-content-center text-center">
                    <img src="static/css/arrow.svg">
                </div>
                <div class="col-sm-3">
                    <img src={{ image[2] }} alt="" class="img mb-5">
                </div>
            </div>
        {% endfor %}
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="application/javascript">
        $("#success-alert").fadeTo(5000, 500).slideUp(500, function () {
            $("#success-alert").slideUp(500);
        });
        $("#upfile").click(function () {
            $("#files_image").trigger('click');
        });
        $("#subId").click(function () {
            $("#subId").hide();
                        $("#subIdDis").show();
            $("#subIdDis").attr("disabled", true);

            var current_progress = 0;

            if (this.id == 'subId') {
                console.log(this.value);
                {#var filename = document.getElementById('files_image').files.length !== 0 ? document.getElementById('files_image').files.length : 10;#}
                var filename = $('[name="image[]"]:checked').length;
            }
            //TODO: поправить передать с бека количество изображений из папки.
            if (this.value == 'test_images') {
                alert('Загрузка файлов завершена');
            }
            var interval = setInterval(function () {
                console.log(filename)
                current_progress += 70 / (filename * 10);
                $("#dynamic").css("width", current_progress + '%')
                if (current_progress >= 100)
                    clearInterval(interval);
            }, 1000);
            // or alert($(this).attr('id'));
        });
    </script>
    <style>
        .active {
            background-color: rgba(255, 207, 36, 0.8) !important;
        }

        #subClog, #subMix, #subSnow {
            background-color: #323232;
            color: white;
            border-color: rgba(255, 207, 36, 0.6);
        }
    </style>
{% endblock %}

