{% extends "base.html" %}


{% block title %}
    {#    <div class="first h-100 w-100">#}
    {##}
    {#        <img src="static/css/Group 21.svg" alt="Snow" class="img_first">#}
    {#        <button class="btn">Button</button>#}
    {#    </div>#}


    <header class="masthead">
        <div class="container-fluid">
            <div class="row row_first" style="">
                <div class="col-md" style="padding-top:3%; padding-left: 1%;">
                    <img src="../static/css/main_font/text.png" class="img_text" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-lg-2s"><img src="../static/css/main_font/logo.svg" class="img_logo" alt="">
                </div>
                <div class="col-md-10 col-lg-8"><p class="text_desc">
                    Система классификации покупного лома с помощью промышленного фото анализа и машинного
                    обучения
                </p></div>
            </div>
        </div>
        {#             <div class="flex-container">#}
        {#
{#            </div>#}
    </header>
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row justify-content-center text-center align-items-center mt-3 mb-3">
            <div class="col-md-3">
                <div class="border_block" style="background-color: #060102">
                    <div>
                        <span class="caption"> Сегментация металлолома</span>
                    </div>
                    <div>
                        <img src="static/css/1.png" align="center" class="fill" alt="">
                    </div>

                    <a href="/segmentation_image" class="block_yellow fill align-items-center">
                        <div class="caption_but" style="width: 20%; padding-left: 60px"> Начать</div>
                        <img src="../static/css/arrow_b.svg" class="h-50 float-right w-20" alt="">
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="border_block" style="background-color: #363636">
                    <div>
                        <span class="caption"> Классификация металлолома</span>
                    </div>
                    <div>
                        <img src="static/css/2.png" align="center" class="fill" alt="">
                    </div>

                    <a href="/classification_image" class="block_yellow fill align-items-center">
                        <div class="caption_but" style="width: 20%; padding-left: 60px"> Начать</div>
                        <img src="static/css/arrow_b.svg" class="h-50 float-right w-20" alt="">

                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="border_block" style="background-color: #626262">
                    <div>
                        <span class="caption"> Распознавание засоренности в металлоломе</span>
                    </div>
                    <div>
                        <img src="static/css/3.png" align="center" class="fill pl-4" alt="">
                    </div>

                    <a href="/clog_image" class="block_yellow fill align-items-center">
                        <div class="caption_but" style="width: 20%; padding-left: 60px"> Начать</div>
                        <img src="static/css/arrow_b.svg" class="h-50 float-right w-20" alt="">

                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="border_block" style="background-color: #939393">
                    <div>
                        <span class="caption"> Сегментация металлолома</span>
                    </div>
                    <div>
                        <img src="static/css/4_1.png" align="center" class="" alt="">
                        <img src="static/css/4_2.png" align="center" class="" alt="">
                    </div>

                    <div class="block_yellow fill align-items-center disable" disabled>
                        <div class="caption_but" style="width: 20%; padding-left: 60px"> Начать</div>
                        <img src="static/css/arrow_b.svg" class="h-50 float-right w-20" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>

        header.masthead {
            background-image: url('../../static/css/main_font/background_header.png');
            height: calc(100% + 100px);
            background-size: 105% calc(100% - 80px);
            margin-bottom: calc(5% + 10px);

            /* Center and scale the image nicely */

            background-repeat: no-repeat;

        }

        @font-face {
            font-family: PFBagueSansPro-Light; /* Имя шрифта */
            src: url(../static/fonts/PFBagueSansPro-Light.ttf); /* Путь к файлу со шрифтом */
        }

        @font-face {
            font-family: PFBagueSansPro-Medium; /* Имя шрифта */
            src: url(static/fonts/PFBagueSansPro-Medium.ttf); /* Путь к файлу со шрифтом */
        }

        .fill {
            display: block;
            width: 100%;

        }

        .w-20 {
            width: 20%;
        }

        .caption_but {
            font-family: PFBagueSansPro-Medium;
            font-size: 25px;
            color: rgba(0, 0, 0, 0.65);
        }

        .border_block {
            width: 200px;
            display: flex;
            flex-direction: column;
            height: 350px;
            text-align: center;
            margin: 0 auto;
            justify-content: space-between;
            background-color: black;
        }


        .block_yellow {
            height: 50px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background-color: #FFCF24;
        }

        .caption {
            font-size: 25px;
            line-height: 35px;
            font-family: PFBagueSansPro-Light;
            color: white;
        }

        .border_block:hover {
            box-shadow: 0px 0 20px #ffcf24;
        }

        .container-fluid {
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
        }

        .disable {
            cursor: not-allowed;
        }

        img {
            max-width: none !important;
            width: 70%;
        }

        .img_first {
            display: inline-block;
            max-width: 100%;
            height: auto;

        }

        .first {
            height: 100%;

            background-size: 100%;


        }

        .h1 .btn {
            position: absolute;
            top: 95%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            background-color: #555;
            color: white;
            font-size: 16px;
            padding: 12px 24px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            text-align: center;
        }


        .site-heading {
            text-align: center;
        }

        @media (min-width: 1200px) {
            .container-fluid, .container, .container-lg, .container-md, .container-sm, .container-xl {
                margin-bottom: calc(15% + 10px);
            }
        }

        div.container1 div {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            position: absolute;

        }

        .background-text {
            position: absolute;
            top: 83px;

            height: 1000px;
            font-size: 0;

            z-index: 5;
        }


        .masthead.flex-container {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-content: center;
            align-items: center;
        }


        {#.flex-item:nth-child(1) {#}
        {#    order: 0;#}
        {#    flex: 0 1 auto;#}
        {#    align-self: flex-start;#}
        {#    }#}
        {##}
        {#.flex-item:nth-child(2) {#}
        {#    order: 0;#}
        {#    flex: 0 1 auto;#}
        {#    align-self: flex-end;#}
        {#    }#}
        {##}
        {#.flex-item:nth-child(3) {#}
        {#    order: 1;#}
        {#    flex: 0 1 auto;#}
        {#    align-self: flex-end;#}
        {#    }#}
        .text_desc {
            font-size: calc(100% + 10px);

            color: #F2F2F2;

        }

        .column {
            float: left;
            width: 50%;
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        .img_logo {
            width: 100%;
            height: 100%;
        }

        .img_text {
            width: 70%;
        }

        .row_first {
            height: 46%;
            overflow: hidden;
        }


    </style>
{% endblock %}
