{% extends "base.html" %}

{% block content %}
    <div class="container">

        {# содержимое приложения которое должно быть предоставлено в блоке app_content #}
        {% block app_content %}{% endblock %}
    </div>
    <div class="container">
        <form class="form form-horizontal" method="post" role="form">
            <div class="row">
                <div class="col">
                    {{ wtf.form_field(form.number_train) }}
                </div>
                <div class="col">
                    {{ wtf.form_field(form.sender) }}
                </div>
                <div class="col">
                    {{ wtf.form_field(form.number_rail) }}
                </div>
                <div class="col">
                    {{ wtf.form_field(form.date) }}
                </div>
            </div>

            <div class="row justify-content-center text-center align-items-center">
                <div class="col">
                    {{ wtf.form_field(form.submit_button, button_map={'submit_button': 'warning'}) }}
                </div>
            </div>
        </form>
        {% if graphJSONAverage3d %}
            <div>
                <div id="chart_av" style="height: 60%; width: 100%;"></div>
            </div>
            {#TODO: перреписать генерацию графиков можно просто передвать json и все будет гуд!#}
            <!-- Chart code -->
            <script>
                var grahp_av = {{ graphJSONAverage3d | safe}};
                create_plot_pred("chart_av", grahp_av,
                    "Предсказание для всех слоев металлолома",
                    "Классы металлолома",
                    "Процентное соотношение классов %",
                    "%"
                );
            </script>
        {% endif %}
    </div>
    <script charset="utf-8" type="text/javascript">

        $(function () {

            // jQuery selection for the 3 select boxes
            var dropdown = {
                number: $('#select_number'),
                sender_s: $('#select_sender'),
                rail: $('#select_rail'),
                date_s: $('#select_date'),

            };

            // call to update on load
            updateCounties();

            // function to call XHR and update county dropdown
            function updateCounties() {
                var send = {
                    number: dropdown.number.children('option:selected').text()
                };
                dropdown.sender_s.attr('disabled', 'disabled');
                dropdown.sender_s.empty();
                dropdown.rail.attr('disabled', 'disabled');
                dropdown.rail.empty();
        dropdown.date_s.attr('disabled', 'disabled');
        dropdown.date_s.empty();
        $.getJSON("{{ url_for('scrap._get_senders') }}", send, function(data) {
                data[0].forEach(function (elem) {
                    dropdown.sender_s.append(
                        $('<option>', {
                            value: elem[0],
                            text: elem[1]
                        })
                    );
                });
                 data[1].forEach(function (elem) {
                    dropdown.rail.append(
                        $('<option>', {
                            value: elem[0],
                            text: elem[1]
                        })
                    );
                });
                  data[2].forEach(function (elem) {
                    dropdown.date_s.append(
                        $('<option>', {
                            value: elem[0],
                            text: elem[1]
                        })
                    );
                });
            dropdown.sender_s.removeAttr('disabled');
            dropdown.rail.removeAttr('disabled');
            dropdown.date_s.removeAttr('disabled');
        });
    }

    // event listener to state dropdown change
    dropdown.number.on('change', function() {
        updateCounties();
    });

});

</script>

    <style>


        select[multiple] option:checked {
            background: #abaa1b -webkit-linear-gradient(bottom, #ab9000 0%, #ffb013 100%);
        }

        .radio {
            padding-left: 30px;
        }

        .sr-only {
            position: relative;
            width: auto;
            height: auto;
        }

    </style>
{% endblock %}