{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center text-center" style="background: #373737;">
            <div class="col-sm-4 mt-4 mb-4">
                <img id="crop" src="{{ images[0][0] }}">
            </div>
            <div class="col-sm-3 justify-content-center text-center list-group m-4"
                 style="float:left; max-height: 250px; overflow: auto; display: inline-block">
                {% for image in images %}
                    <button type="button"
                            style="color: rgba(255, 255, 255, 0.4); background: #464646; outline-color: #646464;"
                            id={{ loop.index }} class="list-group-item mb-1 list-group-item-action">
                    {{ image[0].split('\\')[-1] }}
                    </button>
                {% endfor %}
            </div>
        </div>
        <div class=" row justify-content-center text-center mt-5">
            <div id="chart_one" class="column"></div>
            <div id="chart_av" class="column"></div>
        </div>


        {#TODO: перреписать генерацию графиков можно просто передвать json и все будет гуд!#}
        <!-- Chart code -->
        <script type="text/javascript">
            var grahp_av = {{ graphJSONAverage3d | safe}};
            create_plot_pred("chart_av", grahp_av,
                "Предсказание для всех слоев металлолома",
                "Классы металлолома",
                "Процентное соотношение классов %",
                "%"
            );

            var graphs3d = {{ graphJSON3d | safe }};
            var images_result = {{images | safe}};
            create_plot_pred("chart_one", graphs3d[0],
                "Предсказание для всех слоев металлолома",
                "Классы металлолома",
                "Процентное соотношение классов %",
                "%"
            );

            var id = 1
            $('#' + id).css('color', 'rgb(255,255,255,0.64)');
            $("button").click(function () {
                if (id !== this.id) {
                    $('#' + this.id).css("color", "rgb(255,255,255,0.64)")
                    $('#' + id).css('color', 'rgba(255, 255, 255, 0.4)');
                    id = this.id;
                }
                $("#crop").attr("src", images_result[this.id - 1][0]);
                create_plot_pred("chart_one", graphs3d[this.id - 1],
                    "Предсказание для одного слоя металлолома",
                    "Классы металлолома",
                    "Процентное соотношение классов %",
                    "%"
                );
            });
        </script>
    </div>

    <style>

        .column {
            float: left;
            width: 50%;
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        #chart_one, #chart_av {
            height: 500px;
        }
    </style>
{% endblock %}

