{% extends "base.html" %}
{% block content %}
    <div class="container">

        {# содержимое приложения которое должно быть предоставлено в блоке app_content #}
        {% block app_content %}{% endblock %}
    </div>
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-8">
                {{ wtf.quick_form(form, button_map={'submit_button': 'warning'}) }}
            </div>
        </div>
    </div>

    <style>


        .help-block {
            color: red;
            display: none;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 26px;
            margin-top: 4px;

        }

        .form-control {
            margin-left: 30px;
            background-color: rgba(21, 21, 21, 0.6) !important;
            height: calc(1.5em + .75rem + 30px);
            border-color: rgba(108, 108, 108, 0.6);
            color: rgba(255, 207, 36, 1) !important;
        }

        .form-control:focus {
            background-color: rgba(21, 21, 21, 0.6) !important;
            box-shadow: inset 0 1px 1px rgba(255, 207, 36, 1), 0 0 8px rgba(255, 207, 36, 1);
            border-color: rgba(255, 207, 36, 0.7);
            color: rgba(255, 207, 36, 1) !important;
        }

        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }

        input[type="number"]:required {
            background-color: rgba(21, 21, 21, 0.6) !important;
            border-color: rgba(108, 108, 108, 0.6) !important;
        }

        #submit_button {
            margin-top: 10px;
            width: 300px;
            height: 70px;
        }

        .control-label {
            font-family: PF Bague Sans Pro;
            font-style: normal;
            font-weight: normal;
            /* identical to box height */

            color: #7A7A7A;
            font-size: 24px;
            display: inherit;
            float: left;
        }
    </style>
{% endblock %}