{% extends "base.html" %}

{% block title %}
  Login
{% endblock %}

{% block content_title %}
  {{ _('Login') }}
{% endblock %}



{% block content %}
    <div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6 ">
                    <div id="login-box" class="col-md-12">
                        {% from "security/_macros.html" import render_field_with_errors, render_field %}
                        {% include "security/_messages.html" %}
                        <h3 class="text-left text-warning">Вход</h3>
                        <form id="login-form" class="form" action="{{ url_for_security('login') }}" method="POST"
                              name="login_user_form">
                            {{ login_user_form.hidden_tag() }}
                            {{ render_field_with_errors(login_user_form.email, placeholder="логин", class='form-control') }}
                            {{ render_field_with_errors(login_user_form.password,placeholder="пароль", class='form-control') }}
                            {{ render_field_with_errors(login_user_form.remember) }}
                            {{ render_field(login_user_form.next) }}
                            {{ render_field(login_user_form.submit, class='btn btn-warning btn-md custom', value="Войти") }}
                        </form>
                        {% include "security/_menu.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        body {
            height: 1000px;
            background-size: cover;
            position: relative;
            background: url('../../static/css/main_font/background_login.png') no-repeat center center fixed !important;

        }

        #login .container #login-row #login-column #login-box {
            margin-top: 120px;
            max-width: 600px;

            background: #323232;
        }

        #login .container #login-row #login-column #login-box #login-form {
            padding: 20px;
        }

        #login .container #login-row #login-column #login-box #login-form #register-link {
            margin-top: -85px;
        }

        #login .container #login-row #login-column #login-box #login-form .form-control {
            margin-left: 0px;
        }

        .custom {
            width: 150px;
        }
    </style>
{% endblock %}