{% extends "base_tube.html" %}

{% block content %}
    <div class="container">

        {# содержимое приложения которое должно быть предоставлено в блоке app_content #}
        {% block app_content %}
        {% endblock %}
    </div>
    <div class="container">
        <form class="form form-horizontal" method="post" role="form">
            <div class="row">
                <div class="col">
                    {{ wtf.form_field(form.manufacturer_name) }}
                </div>
                <div class="col">
                    {{ wtf.form_field(form.order_number) }}
                </div>
                <div class="col">
                    {{ wtf.form_field(form.name_department) }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ wtf.form_field(form.pipe_size) }}
                </div>
                <div class="col">
                    {{ wtf.form_field(form.steel_grade) }}
                </div>
                <div class="col">

                    {{ wtf.form_field(form.date) }}
                </div>
            </div>
            <div class="row justify-content-center text-center align-items-center">
                <div class="col font_radio" style="">
                    {{ wtf.form_field(form.group_by_field) }}
                </div>
            </div>
            <div class="row justify-content-center text-center align-items-center">
                <div class="col">
                    {{ wtf.form_field(form.submit_button, button_map={'submit_button': 'warning'}) }}
                </div>
            </div>
        </form>
        {% if graphJSONAverage3d %}
            <div>
                <div id="chart_av" style="height: 60%; width: 100%;"></div>
            </div>

            {#TODO: перреписать генерацию графиков можно просто передвать json и все будет гуд!#}
            <!-- Chart code -->
            <script>
                var grahp_av = {{ graphJSONAverage3d | safe}};
                create_plot_pred("chart_av", grahp_av,
                    "Количество труб",
                    `{{ title_for_graph }}`,
                    "",
                    "труб", max_x = 0
                );

            </script>
        {% endif %}
    </div>

    <style>
        input[type='radio']:after {
            width: 15px;
            height: 15px;
            border-radius: 15px;
            top: -2px;
            left: -1px;
            position: relative;
            background-color: #d1d3d1;
            content: '';
            display: inline-block;
            visibility: visible;
            border: 2px solid white;
        }

        input[type='radio']:checked:after {
            width: 15px;
            height: 15px;
            border-radius: 15px;
            top: -2px;
            left: -1px;
            position: relative;
            background-color: rgb(255, 160, 12);
            content: '';
            display: inline-block;
            visibility: visible;
            border: 2px solid white;
        }


        select[multiple] option:checked {
            background: #abaa1b -webkit-linear-gradient(bottom, #ab9000 0%, #ffb013 100%);
        }

        .radio {
            padding-left: 30px;
        }

        .sr-only {
            position: relative;
            width: auto;
            height: auto;
        }

    </style>
{% endblock %}