{% import 'bootstrap/wtf.html' as wtf %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>tube_hist</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/4.4.1/cyborg/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Adamina">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body style="background-color: #313131;">
<header class="text-center text-sm-center text-md-center text-lg-center text-xl-center d-flex flex-row flex-grow-0 flex-fill justify-content-center align-items-center align-content-center"
        style="height: 61px;background-color: #2A2A2A;">
    <h2 class="text-center" style="background-color: #FFFFF;color: #ffffff;">Журнал</h2>
</header>
<div class="container">
    <div class="row no-gutters text-center align-items-center" style="margin-top: 10px;">
        <div class="col-7 offset-0"> {{ wtf.form_field(form.date) }}</div>
        {#            <div class="col-5 offset-2">{{ wtf.form_field(form.date) }}</div>#}
    </div>
    <div class="row no-gutters text-center align-items-center ">
        <div class="col">
            <h2 class="date text-left" style="color: #FFFFFF;font-size: 27px">{{ date_select }}</h2>
        </div>
    </div>
    <div id="rows">
        {% for row in current_row %}

            <div id="block" class="row align-items-center m-0"
                 onclick="window.location='/history_tube/{{ login }}/gallery/{{ row[2] }}'">
                <div class="col-1 text-center align-self-center"><img src="../static/css/Group.svg"
                                                                      style="max-width: none !important;"></div>
                <div class="col-5"><span style="color: #AFAFAF;">Номер партии {{ row[0] }}</span></div>
                <div class="col-4" style=""><span style="color: #AFAFAF;">Кол. труб {{ row[1] }}</span></div>
                <div class="col-xs-2 offset-0 text-center align-self-center"><img src="../static/css/arrow_down.svg">
                </div>

            </div>

        {% endfor %}
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script charset="utf-8" type="text/javascript">

    var data =  {{ data | safe}};
    var user_id = `{{ login | safe}}`;
    $('#date').on('change', function () {
        $("div h2").text($(this).find(":selected").text().split(' ')[0]);

        $("#rows").empty();
        console.log(data[this.value])
        jQuery.each(data[this.value], function (i, val) {
            console.log(i, val[i]);
            $('#rows').append('<div id="block" class="row align-items-center"  onclick="window.location=\'/history_tube/' + user_id + '/gallery/' + val[2] + '\'"</div>\n' +
                '                <div class="col-1 text-center align-self-center"><img src="../static/css/Group.svg"\n' +
                '                                                                      style="max-width: none !important;"></div>\n' +
                '                <div class="col-5"><span style="color: #AFAFAF;">Номер партии ' + val[0] + '</span></div>\n' +
                '                <div class="col-4" style=""><span style="color: #AFAFAF;">Кол. труб ' + val[1] + '</span></div>\n' +
                '                <div class="col-2 offset-0 text-center align-self-center"><img src="../static/css/arrow_down.svg"></div>\n' +
                '            </div>');
        });

    })

</script>
</body>
<style>
    .img {
        max-width: none !important;
    }

    .form-control {
        margin-left: 0px;
        background-color: rgba(21, 21, 21, 0.6) !important;
        height: calc(1.5em + .75rem + 0px);
        border-color: rgba(255, 207, 36, 0);
        color: rgb(160, 160, 160) !important;
    }

    .form-control:focus {
        background-color: rgba(21, 21, 21, 0.6) !important;
        box-shadow: none;
        border-color: rgba(255, 207, 36, 0);
        color: rgb(160, 160, 160) !important;
    }

    option[selected], option:checked, option:not(:checked), option:focus, option:not(active) {
        background-color: rgba(21, 21, 21, 0.85) !important;
        color: rgb(160, 160, 160) !important;
    }

    .link_h:hover, .link_h:visited, .link_h:active {
        background: rgb(160, 160, 160) !important;
    }

    #block:active {
        background: rgba(160, 160, 160, 0.19) !important;
    }

    #block {
        height: 50px;
    }


</style>