<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>gallery</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Adamina">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
    <link rel="stylesheet" href="../../assets/css/Lightbox-Gallery.css">
    <link rel="stylesheet" href="../../assets/css/styles.css">
</head>

<body style="background-color: #313131;">
<header style="height: 61px;background-color: #2A2A2A;">
    <div class="row align-items-center">
        {#        <div class="col-3 offset-1 float-left align-self-end"><a href={{ url_for('tube_app.history_tube', login=login) }}><img src="\static\css\icon_tube.svg" width="60px" height="60px" /></a></div>#}
        <div class="col">
            <h1 class="text-center" style="background-color: #FFFFF;color: #ffffff;">Галерея</h1>
        </div>
    </div>
</header>
<div class="container">
    <div class="row no-gutters text-center align-items-center">
        <div class="col">
            <h2 class="text-left" style="color: #FFFFFF;">Партия {{ number_order }} </h2>

        </div>
        <div class="col">
                <span class="text-right"
                      style="font-size: 11px; float:right !important;">Всего:  {{ count_photo }}  фото</span>

        </div>
    </div>
</div>
<div class="photo-gallery">
    <div class="container">
        <div class="row photos">
            {% for row in images %}
                <div class="col-sm-6 col-md-4 col-lg-3 item"><img class="img-fluid mb-3" id="{{ loop.index }}"
                                                                  src="{{ row[0] }}">
                    <div id="hide-{{ loop.index }}" class="hide">
                        <div id="block" style="background-color: #424242; margin-top: 15px; padding-top:15px;">
                            <div class="row d-flex justify-content-between">
                                <div class="col text-left">
                                    <span class="first">Общая информация</span>
                                </div>
                                <div class="col text-right" id='{{ loop.index }}'>
                                    <img id='cross' src="/static/css/cross.svg">
                                </div>

                            </div>
                            <div class="row">
                                <div class="col text-left"><span>Партия</span></div>
                                <div class="col text-right"><span>{{ row[1] }}</span></div>
                            </div>
                            <div class="row">
                                <div class="col text-left"><span>Производитель</span></div>
                                <div class="col text-right"><span>{{ row[2] }} </span></div>
                            </div>
                            <div class="row">
                                <div class="col text-left"><span>Цех</span></div>
                                <div class="col text-right"><span>{{ row[3] }}</span></div>
                            </div>
                        </div>
                        <div id="block-1">
                            <div class="row">
                                <div class="col">
                                    <span>Информация по трубам </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col text-left"><span>Количество труб</span></div>
                                <div class="col text-right"><span>{{ row[4] }}</span></div>
                            </div>
                            <div class="row">
                                <div class="col text-left"><span>Марка стали</span></div>
                                <div class="col text-right"><span>{{ row[5] }}</span></div>
                            </div>
                            <div class="row">
                                <div class="col text-left"><span>Диаметр трубы</span></div>
                                <div class="col text-right"><span>{{ row[6] }}</span></div>
                            </div>
                        </div>

                    </div>
                </div>


            {% endfor %}
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
<script>
    $('[class^="img-fluid"]').on("click", function () {
        console.log($('.img-fluid').attr('id'))
        // Do stuff, get id of image perhaps?
        console.log('I am alive', this.id);
        $("#hide-" + this.id).fadeIn(100);
    });
    $('[id^="cross"]').on("click", function () {
        // Do stuff, get id of image perhaps?
        console.log('I am alive')
        var id = $(this).parent().closest('div').attr('id')
        console.log(id, "hide-" + id)
        $("#hide-" + id).click(function () {
            console.log('ohohoh', "hide-" + id)
            $(this).fadeOut(100);
        })
    });

</script>
<style>
    .hide {
        padding-right: 0px;
        padding-left: 0px;
    {#margin-right: -25px;#}{#margin-left: -15px;#}

    }

    @font-face {
        font-family: Roboto; /* Имя шрифта */
        src: url(/static/fonts/Roboto-Regular.ttf); /* Путь к файлу со шрифтом */
    }

    h6 {
        font-size: 12px;
        color: #FFFFFF;
    }

    .row > div {
        font-style: normal;

        font-family: Roboto;
        font-weight: normal;
        font-size: 9px;
        line-height: 11px;
        /* identical to box height */


        color: #AFAFAF;
    }

    .row > div:last-child, .first {
        color: #FFFFFF;
        font-style: normal;
        font-weight: bold;

        font-family: Roboto;

        font-size: 10px;
        line-height: 12px;
    }

    div.col > h2 {
        font-size: 20px;
    }

    #block-1 {

        font-family: Roboto;
        margin-bottom: 20px;
        padding-top: 5px;
        background-color: #424242;
        border: 1px solid #373737;
    }

    div.row > .col {
        padding-bottom: 10px;
    }

    div.row > .col > span:last-child {
        padding-right: 25px;
        padding-bottom: 10px;
    }

    div.row > .col > span:first-child {
        padding-left: 5px;
        padding-bottom: 10px;
    }

    div.row > .col:first-child {

        padding-bottom: 15px;

    }

    div.row > .col > span:first-child {
        padding-left: 5px;
        white-space: nowrap;
        padding-bottom: 15px;

    }

    div.row > .col > img:last-child {
        padding-right: 25px;
        padding-bottom: 10px;
    }
</style>

</body>

</html>