{% extends "base.html" %}
<!-- Exports header and navbar from header.html 
     or any file you want-->
{% block content %}

    <div class="page-wrap d-flex flex-row align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                    <span class="display-1 d-block">404</span>
                    <div class="mb-4 lead">The page you are looking for was not found.</div>
                    <a href="{{ url_for('main') }}" class="btn btn-link">Back to Home</a>
                </div>
            </div>
        </div>
    </div>
    <style>
        .page-wrap {
            min-height: 100vh;
        }

        body {
            color: #a1a29c;
            background: rgba(0, 0, 0, 10);
            background: url("static/css/Background.png") no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
            -o-background-size: cover;
        }
    </style>
{% endblock %}
