{% extends "base.html" %}

{% block gif %}
    <a href="/">
        <img style="width: 84px; height: 90px;" src="static/css/icon_tube.svg">
    </a>
{% endblock %}
{% block gif_inf %}
    <a href="/dash_tube">

        <img style="width: 84px; height: 90px;" src="static/css/info.svg">

    </a>
{% endblock %}