{% import 'bootstrap/wtf.html' as wtf %}
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <script src="{{ url_for('static', filename = 'js/plot_pred.js') }}"></script>

    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/charts.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/dark.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>


    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='bootstrap-4.3.1-dist/css/bootstrap.min.css') }}">
    <!-- Подключаем Bootstrap JS -->
    <script src="{{ url_for('static', filename = 'bootstrap-4.3.1-dist/js/bootstrap.min.js') }}"></script>

</head>
<body>
{% if title %}
{% block title %}
    <div class="container-fluid mb-5">
        <div class="row d-flex justify-content-center text-center pl-5">

            <div class="col-lg-1 font_head p-2">
                {% block gif %}
                    <a href="/scrap_main">

                        <img style="width: 84px; height: 90px;" src="static/css/logo.svg">

                    </a>
                {% endblock %}
            </div>

            <div class="col-lg-9 font_head p-4 ">
                <div class="">{% if title %}{{ title }}{% else %}Welcome to Scrap{% endif %}
                </div>
            </div>
            <div class="col-lg-1 font_head p-2">
                {% block gif_inf %}
                    <a href="/dash_scrap">
                        <img style="width: 84px; height: 90px; float: right" src="static/css/info.svg">
                    </a>
                {% endblock %}
            </div>
        </div>
    </div>
      {% endblock %}
    {% endif %}
{% block content %}

{% endblock %}
</body>

<script type="application/javascript">
    // init the state from the input
    $(".image-checkbox").each(function () {
        if ($(this).find('input[type="checkbox"]').first().attr("checked")) {
            $(this).addClass('image-checkbox-checked');
        } else {
            $(this).removeClass('image-checkbox-checked');
        }
    });

    // sync the state to the input
    $(".image-checkbox").on("click", function (e) {
        $(this).toggleClass('image-checkbox-checked');
        var $checkbox = $(this).find('input[type="checkbox"]');
        $checkbox.prop("checked", !$checkbox.prop("checked"))

        e.preventDefault();
    });
</script>

<style


        class="cp-pen-styles">.nopad {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#gear {
    animation-name: ckw;
    animation-duration: 15.5s;
    /* Things added */
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    display: inline-block;
    /* <--- */
}

@keyframes ckw {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.container-fluid {
    overflow-x: hidden;
}

.font-load {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    font-family: PF Bague Sans Pro;
    font-style: normal;
    color: rgba(255, 255, 255, 0.4);
    font-size: 25px;
    line-height: 55px;
}

#success-alert {
    height: 60px;
    background-color: #3D3D3D;
    color: rgba(255, 255, 255, 0.7);
}

/*image gallery*/
.image-checkbox {
    cursor: pointer;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 4px solid transparent;
    margin-bottom: 0;
    outline: 0;
}

.image-checkbox input[type="checkbox"] {
    display: none;
}

.image-checkbox-checked {
    border-color: #E3B922;
}

.progress {
    background-color: rgba(50, 50, 50, 0.6);
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

.image-checkbox .fa {
    position: absolute;
    color: rgba(50, 50, 50, 0.6);
    background-color: #E3B922;
    padding: 10px;
    top: 0;
    right: 0;
}


.image-checkbox-checked .fa {
    display: block !important;
}

img {
    max-width: 80%;
    vertical-align: center;
    /*border: 3px solid #00a8e1;*/
}

body {
    color: #a1a29c;
    background: rgba(0, 0, 0, 10);
    background: url("static/css/Background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#subId  {
    color: #212529;
    background-color: #e0a800;
    border-color: #d39e00;
}
#subIds {
    color: #212529;
    background-color: #e0a800;
    border-color: #d39e00;
}

.font_head {
    height: 116px;
    background: #262626;
    color: rgba(255, 255, 255, 0.85);
    font-family: PF Bague Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 61px;
}


.help-block {
    color: red;
    display: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 26px;
    margin-top: 4px;

}

.form-control {
    margin-left: 30px;
    background-color: rgba(21, 21, 21, 0.6) !important;
    height: calc(1.5em + .75rem + 30px);
    border-color: rgba(108, 108, 108, 0.6);
    color: rgba(255, 207, 36, 1) !important;
}

.form-control:focus {
    background-color: rgba(21, 21, 21, 0.6) !important;
    box-shadow: inset 0 1px 1px rgba(255, 207, 36, 1), 0 0 8px rgba(255, 207, 36, 1);
    border-color: rgba(255, 207, 36, 0.7);
    color: rgba(255, 207, 36, 1) !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

input[type="number"]:required {
    background-color: rgba(21, 21, 21, 0.6) !important;
    border-color: rgba(108, 108, 108, 0.6) !important;
}

#submit_button {
    margin-top: 10px;
    width: 300px;
    height: 70px;
}

.control-label, .font_radio {
    font-family: PF Bague Sans Pro;
    font-style: normal;
    font-weight: normal;
    /* identical to box height */

    color: #7A7A7A;
    font-size: 24px;
    display: inherit;
}
</style>



