{% extends "base.html" %}
{% block title %}
{% endblock %}
{% block content %}
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-5">
                <a href="scrap_main">
                    <div class="border_block">
                        <div class="img_circle">
                            <img src="static/css/logo.svg" alt="">
                            <span class="caption">Система классификации покупного лома</span>
                        </div>
                    </div>

                </a>
            </div>
            <div class="col-5">
                <a href="count_tubes">
                    <div class="border_block">
                        <div class="img_circle">
                            <img src="static/css/icon_tube.svg" alt="">
                            <span class="caption pt-5 mt-1">Учет готовой продукции в металлургии </span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <style>
        body {
            background: url("static/css/fon2.png") center fixed !important;
        }


        .border_block {
            width: 450px;
            vertical-align: top;
            text-align: center;
            height: 450px;
            border-radius: 50%;
            display: flex;

        }

        .caption {

            color: #D4C17F;
            font-size: 20px;
            display: block;
        }

        .img_circle {
            width: 300px;
            margin: auto;
            height: 300px;
        }

        .border_block:hover {
            box-shadow: 0px 0 20px #ffcf24;
        }
    </style>
{% endblock %}
<style>
    body {
        color: #a1a29c;
        background: rgba(0, 0, 0, 10);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }
</style>
